body {
    text-align: center;
    margin-top: 50px;
    background-color: #730100;
    width: 100%;
    min-height: 100vh;
    color: whitesmoke;
    user-select: none;
    font-family: 'f2';
    margin: 0;

    overflow-x: hidden;
    font-size: 20px;

    
}

@font-face {
    font-family: 'f2';
    src: url('/fonts/schoolbell.ttf') format('truetype'); /* Nome correto e formato */
}

#contador {
    font-size: 20px;
}

.carta{
    max-width: 500px;
    display: block;   /* Permite usar margin auto */
    margin: 0 auto;   /* Centraliza horizontalmente */
    width: 100%;
}

p{
    margin: 30px;
}

.foto_corredor{
    max-width: 250px;
}

.primeiroOi{
    max-width: 300px;
    display: block;   /* Permite usar margin auto */
    margin: 0 auto;   /* Centraliza horizontalmente */
    width: 100%;
}